* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  background: url("../img/Header/Header__bg.png") 0 0 no-repeat;
  background-size: cover;
}

.header-top {
  max-width: 1021px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0px 57px 0px;
}

.header-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo:hover .header-top__logo-img {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.header-top__logo:hover .header-top__logo-name {
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-t {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-h {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-e {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-y {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-a {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-l {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-o {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  padding: 0px 8px;
}

.header-top__logo:hover .header-top__logo-name .header-top__logo-name-w {
  -webkit-animation-name: low;
          animation-name: low;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  padding: 0px 8px;
}

@-webkit-keyframes low {
  0% {
    font-size: 14px;
    padding: 0px 8px;
  }

  50% {
    font-size: 14px;
    padding: 0px 8px;
    color: #ffffff;
  }

  100% {
    font-size: 41px;
    color: yellow;
  }
}

@keyframes low {
  0% {
    font-size: 14px;
    padding: 0px 8px;
  }

  50% {
    font-size: 14px;
    padding: 0px 8px;
    color: #ffffff;
  }

  100% {
    font-size: 41px;
    color: yellow;
  }
}

.header-top__logo-name {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 0px 0px 13px;
  font-size: 41px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-top__logo-name span {
  margin: 0px 0px 0px -9px;
}

.header-top__menu-back {
  background-color: #f5c506;
  opacity: 0.27;
  height: 41px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.header-top__menu-back2 {
  background-color: #f5c506;
  opacity: 0.27;
  width: 100%;
  height: 41px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.menu {
  position: relative;
  top: 0;
  background-color: #f5c506;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.menu:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu:hover .header-top__menu-back {
  visibility: visible;
  position: absolute;
  top: -10px;
  left: -10px;
}

.menu:hover .header-top__menu-back2 {
  visibility: visible;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 2;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
}

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid rgba(112, 112, 112, 0.2);
  min-width: 160px;
}

.menu-links:last-child {
  border: none;
}

.menu-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9b7d08;
  text-transform: uppercase;
  font-size: 17px;
  height: 41px;
  padding: 0px 20px;
}

.menu-links a img {
  padding: 0px 9px 0px 0px;
}

.one {
  padding: 0 15px;
  background: url("../img/Section__one/Bg__section__one.png") 0 0 no-repeat;
  background-size: cover;
}

.one__container {
  max-width: 1021px;
  margin: 0px auto;
}

.one__constent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.one__column {
  text-align: center;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-top: none;
  border-bottom: none;
  padding: 61px 0 32px 0;
  width: 33.333%;
}

.one__column-text {
  padding: 9px 0px 0px 0px;
  font-size: 27px;
}

.one__column-two {
  border: none;
}

.webp .header { background: url(../img/Header/Header__bg.webp) 0 0 no-repeat; }

.webp .one { background: url(../img/Section__one/Bg__section__one.webp) 0 0 no-repeat; }